.section .dip {
  min-height: 500px;
}

.section .ppts {
  font-family: Alata;
  font-size: 1rem;
  margin: 20px auto 60px 0;
}

@media (max-width: 575px) {
  .section .dip {
    min-height: 327px;
  }

  .section .ppts {
    width: auto;
    margin-bottom: 21px;
  }
}